<div class="attis-container">

    <!-- Steps -->
    <div class="steps">
        <div class="step">1</div>
        <div class="line"></div>
        <div class="step">2</div>
        <div class="line"></div>
        <div class="step active">3</div>
    </div>

    <!-- Steps Messages -->
    <div class="message" translate>
        ms_step_duplicated
    </div>

    <!-- Info Message -->
    <div class="info" translate *ngIf="!!!current_ticket.is_autoreject">
        ms_box_duplicated
    </div>
    <div class="info" translate *ngIf="!!current_ticket.is_autoreject">
        ms_box_autoreject
    </div>

    <div class="message">
        {{ current_ticket.last_result.body }}
    </div>

    <!-- Menu -->
    <div class="menu" translate>
        <a class="button3" routerLink='/created'>Voltar</a>
    </div>

</div>