<div class="attis-container">

<!-- Steps -->
    <div class="steps">
        <div class="step">1</div>
        <div class="line"></div>
        <div class="step" [class.active]="current_ticket.status == ticket_status.PENDING || current_ticket.status == ticket_status.WORKING">2</div>
        <div class="line"></div>
        <div class="step" [class.active]="current_ticket.status >= ticket_status.SUCCESS">3</div>
    </div>
    
<!-- Steps Messages -->
    <div class="message" translate *ngIf="current_ticket.status == ticket_status.PENDING || current_ticket.status == ticket_status.WORKING">
        ms_step_processing
    </div>
    <div class="message" translate *ngIf="current_ticket.status >= ticket_status.SUCCESS">
        ms_step_saved
    </div>

<!-- One-ticket-at-a-time Message -->
    <div class="info" translate *ngIf="have_working">
        ms_one_ticket_at_a_time
    </div>

<!-- Delay Message -->
    <div class="info" translate *ngIf="show_delay_message">
        ms_delay_message
    </div>

<!-- Spinner & in progress message -->
    <div class="processing" translate *ngIf="current_ticket.status == ticket_status.PENDING || current_ticket.status == ticket_status.WORKING">
            ms_spinner
    </div>

<!-- Success Title --> 
    <div class="success" translate *ngIf="current_ticket.status == ticket_status.SUCCESS">
            ms_box_success              
    </div> 

<!-- Reject Title --> 
    <div class="reject" translate *ngIf="current_ticket.status >= ticket_status.REJECTED">
            ms_box_reject
    </div>

<!-- Result Message --> 
    <div class="message" translate *ngIf="current_ticket.status >= ticket_status.SUCCESS">
            {{ current_ticket.last_result.body }}
    </div>

<!-- Menu --> 
    <div class="menu">
        <a class="button3" href="#/" (click)="reload()" translate *ngIf="!asking">
            cta_reload
        </a>

        <a class="button3" routerLink='/created' translate *ngIf="current_ticket.status >= ticket_status.SUCCESS">
            cta_back
        </a>
    </div>

</div>