/* You can add global styles to this file, and also import other style files */

/* Colors */
$green: #01A66E;
$dark_blue: #283348;
$blue: #374767;
$active_blue: #3A72E2;
$light_blue: #B4C5E6;
$red: #DD2525;
$orange: #DD9118;
$orange-warning: #FF6666;
$bg: #F0F4F7;
$light_grey: #eeeeee;
$grey: #A4AFB7;
$border-radius: (3px);
$border-radius-top-left:(3px 0 0 0);
$border-radius-top-right: (0 3px 0 0);
$blue_office: #0072C6;


/* Basics */
body {
    background: $bg;
    font-family: roboto;
    color: $dark_blue;
    min-width: 1200px;
}

a {
    color: $dark_blue;
    &:hover {
        color: $green;
    }
}

h1 {
    font-size: 1.5rem;
    color: $dark_blue;
    padding: 1.5rem 0 0.5rem;
    margin-top: 0.8rem;
}

h5{
    font-size: 0.8rem;
}

.subtitle {
    color: $grey;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.text-sm-grey {
    font-size: 0.6rem;
    color: $grey;
}

.title-box {
    padding: 1rem;
    text-align: center;
    background: $dark_blue;
    color: #fff;
}

.bar-stadistics{
    padding: 0.5rem;
    text-align: center;
    background: $green;
    color: #fff;
}

@mixin text-sm($color) {
    font-size: 0.6rem;
    color: $color;
}

.text-sm-secondary { @include text-sm($grey);}
.text-sm-success { @include text-sm($green);}
.text-sm-warning { @include text-sm($orange);}


.crono {
    font-size: 2rem;
    margin: 0;
}
/*Buttons*/
.btn-dark {
    background-color: $dark_blue;
    border-color: $dark_blue;
    svg {
        width: 1.1rem;
        fill: #fff;
        padding-right: 5px;
    }
}

.btn-danger{
    background-color: $red;
    border-color: $red;
    color: #fff;
    &:hover{
        background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
        background-color: $red;
        border-color: $red;
        color: #fff;
    }
}

.fnt-office {
    font-weight: 600;
    color: #5E5E5E;
    font-size: 15px;
    font-family: 'Segoe UI Regular';
    vertical-align: middle;
    margin-left: -6px;
}

.logo-office {
    vertical-align: middle;
    margin-right: 12px;
}

.btn-office {
    border: solid 1px #8C8C8C;
    line-height: 41px;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
}

    .btn-office:hover {
        background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
        cursor: pointer;
    }

.btn-warning, .btn-special{
    background-color: $orange-warning;
    border-color: $orange-warning;
    color: #fff;
 
    &:hover{
        background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
        background-color: $orange-warning;
        border-color: $orange-warning;
        color: #fff;
    }
    &:active{
        background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1))!important;
        background-color: $orange-warning !important;
        border-color: $orange-warning!important;
        color: #fff!important;
        box-shadow: 0 0 0 0.2rem rgba(255, 114, 111, 0.5);
    }
    &:focus{
        background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
        background-color: $orange-warning!important;
        border-color: $orange-warning!important;
        color: #fff!important;
        box-shadow: 0 0 0 0.2rem rgba(255, 114, 111, 0.5)!important;
    }
 
}

.btn-success {
    background-color: $green;
    border-color: $green;
    &:hover{
        background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
        background-color: $green;
        border-color: $green;
    }
    svg {
        fill: #fff;;
    }
}

button:focus {
    outline: none;
}
.btn-primary{
    color:  #007bff;
    background-color: transparent;
}
.transfer{
    padding: 0.8rem!important;
    .btn-transfer{
    color:  $active_blue;
    background-color: transparent;
    border-color: $active_blue;
    padding: 0rem 0.3rem 0rem 0.3rem;
    font-size: 0.8rem;
    &:hover{
        color: #fff;
        background-color: $active_blue; 
    }
}}

.btn-outline-secondary{
    color:  $active_blue;
    background-color: transparent;
    border-color: $active_blue;
    &:hover{
        color: #fff;
        background-color: $active_blue; 
    }
}


/*Tags*/
.tag-warning{
    background-color: $orange;
    border-color: $orange;
    color: #fff;
    overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;
    
}

.tag-success{
    background-color: $green;
    border-color: $green;
    color: #fff;
    overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.tag-secondary{
    background-color: $grey;
    border-color: $grey;
    color: #fff;
    overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.tag-danger{
    background-color: $red;
    border-color: $red;
    color: #fff;
    overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.col-xs-12{
    flex: 0 0 99%;
    max-width: 99%;
}

.col-md-6{
    flex: 0 0 49%;
    max-width: 49%;
    min-width: 20vw;
}

.col-md-3 {
    flex: 0 0 24%;
    max-width: 24%;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}


@mixin status_circle($backgroundColor) {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: $backgroundColor;
    display: inline-block;
    margin-right: 7px;
}

.online { @include status_circle($green);}
.back_5 { @include status_circle($grey);}
.break { @include status_circle($orange);}
.prelogoff { @include status_circle($red);}
.offline { @include status_circle($light_grey);}

/* Navbar */
.navbar {
    background: #FFF;
    color: $dark_blue;
    /*border-bottom: $grey solid 1px;*/
    padding: 0;
    margin: 0 0 0 120px !important;
    min-height: 55px;
    .navbar-nav {
        margin: 0;
        flex-direction: row;
        .nav-item {
            padding: .5rem 1rem;
            .input-group{
                max-width: 250px;
	            position: relative;
                .custom-select {
                    background: url(assets/img/icons/sort-down.svg) no-repeat right .75rem center/8px 10px;
                    border: none;
                    appearance: none;
                    &::-ms-expand {
                        display: none;
                    }
                    option {  
                        appearance: none;  
                        color: $green;
                    }    
                    &:focus{
                        box-shadow: none;
                    }             
                }
            }
            svg {
                fill: $dark_blue;
            }
            .status-dropdown {
                appearance: none;
                background-color: #fff;
                color: $dark_blue;
                border: none;
                &:hover {
                    color: $green;
                }
            }
        }
        #exit{
            /*border-left: $dark_blue 1px solid;*/
            &:hover {
                svg {
                    fill: $green;
                }
            }
        }
        #status{
            padding: 0px;
            &:hover{
                background: $dark_blue;
                .custom-select {
                    color: #fff;
                }
            }
        }         
    }
}
.breadcrumb {
    background: #fff;
    font-size: 14px;
    padding: 0 20px;
    .breadcrumb-item{
        color: $dark_blue;
    }
    .active {
        text-decoration: underline $green;
    }
} 

/* SideBar */
.nav {
    background: $blue;
    width: 120px;;
    height: 100vh;
    box-shadow: 0px 0px 5px #00000030;
    float: left;
    position: fixed;
    flex-wrap: nowrap;
    .navbar-brand {
        min-height: 55px;
        margin: 0;
        background: $dark_blue;
        img {
            width: 60%;
            padding: 20;
        }    
    }
    .nav-link{
        color: #fff;
        height: 75px;
        text-align: center;
        width: 100%;
        font-size: 14px;
        margin: 0;
        &:hover{
            background: $dark_blue;
            border-left: $green 5px solid;
            svg{
                fill: $green;
            }
        }
        svg {
            width: 20px;
            height: 20px;
            fill: $light_blue;
        }
    }
}

.container-fluid {
    margin-left: 120px;
    width: auto;
    padding: 0 4rem;
}

/* Tables */
.table tbody{
    font-size: 14px;
}
.table-container, .tab-content {
    background: #fff;
    box-shadow: 0px 0px 5px #00000030;
    border-radius: $border-radius;
    .content {
        padding: 1rem;
    }
    .table{
        margin-bottom: 0rem;
    }
    
    .table .thead-dark th {
        background-color: $dark_blue;
        border: $dark_blue;
        padding: 1rem;
    }
    .table .thead-danger th{
        padding: 1rem;
    }
    .thead-dark tr :first-child{
        border-radius: $border-radius-top-left;
    }
    .thead-dark tr :last-child{
        border-radius: $border-radius-top-right;
    }
    .table .thead-danger th {
        background-color: $orange;
        border: $orange;
        color: #fff;
    }
    th, td {
        text-align: center;
    }
    th.type-row , td.text-right{
        font-size: 14px;
        color: #283348;
    }
   
   .text-left{
            border-radius: $border-radius-top-left;
        }
    .text-right{
            border-radius: $border-radius-top-right;
            .icon{
                fill:#a4afb7;
                margin-right: 0.5rem;
            }
        }
    
    .table tbody tr td button {
        margin: 0 0.5rem;
    }
    .btn-sm {
        padding: 0.1rem 1.5rem;
    }
    .icon-autoassign-success{
        background: $green;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        fill: #fff;
        svg {
            vertical-align: baseline;
        }
    }
    .icon-autoassign-danger{
        background: $red;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        fill: #fff;
        svg {
            vertical-align: baseline;
        }
    }
}

/* Form + inputs*/
.search {
    background: url(assets/img/icons/search.svg) no-repeat left .75rem center/12px 12px;
    padding: 0 10px 0 29px;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus, .form-control:focus {
    box-shadow: 0 0 5px $green;
    border: 1px solid $green;
}

input, .form-control {
    caret-color: $green;
    /*margin: 0.5rem 0rem;*/
}
.login{
    input, .form-control {
        margin: 1rem 0rem;
    }
    .py-4{
        padding-top: 0rem!important;
    }
}
label{
    margin: 1rem 0rem 0.5rem 0rem;

  } 
input[type=number] {
    width: 3rem;
}

input[type=text], input[type=number], textarea, .form-control {
    background-color: $bg;
}

/* Modals + pupups */
.swal2-popup {
    padding: 1rem;
    .swal2-header {
        display: flex;
        flex-direction: row;
        align-items: left !important;
        h2 {
            text-align: left;
            color: $dark_blue;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    #swal2-content {
        text-align: left;
        color: $dark_blue;
        font-size: 1rem;
    }
    .swal2-actions {
        display: flex;
        justify-content: flex-end;
        .swal2-styled {
            padding: .375rem .75rem;
            
        }
    }
}
.swal2-confirm {
    background-color: $green !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
.swal2-cancel {
    background-color: #6c757d !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

/* Pagination */
.pagination {
        margin-bottom: auto;
        .page-link{
            color: $dark_blue;
            &:hover {
                color: $light_grey;
            }
        }
        .page-item.active .page-link {
            background-color:$green;
            border-color: $green;
        }
}

/* TABS */
ngb-tabset {
    display: flex;
    flex-direction: column;
    .nav-item {
        width: 100%;
        border-right: 1px solid $green;
    }
    li:last-child{
        border-right:0px ;
    }
    .nav.nav-pills {
        display: flex;
        flex-wrap: nowrap;
        background: none;
        width: auto;
        height: auto;
        position: relative;
        margin: 1rem 0 1rem 0;
        cursor: pointer;
        .nav-link {
            background: #fff;
            color: $green;
            height: auto;
            border-radius: 0;
            &:hover {
                background: $green;
                color: #fff;
                border-radius: 0;

            }
            a{
                float: right;
            }
        }
        .active{
            background: $green;
            color: #fff;
            cursor: default;
            border: 0px;
        }        
        .disabled {
            color: $grey;
        }
    }
}
.tab-content {
    background: none;
    box-shadow: none;
}
.row {
    margin: 0;
}
.col-md-6{
    padding: 0;
}
svg{
    width: 1.1rem;
    fill: #fff;
}
.tier-code-number{
    border-left: 1px solid $light_grey;
}
.type-row {
    color: $grey;
    text-align: left !important;
}

/* tickets */
.timer {
    background: #283348;
    border-radius: 3px;
    color: #fff;
    float: right;
    padding: 0.5rem 1.5rem !important;
    max-height: fit-content;
    margin-top: 0.5rem;
    svg{
        width: 1.1rem;
        fill: #fff;
    }
}
.nav-pills{
    svg{
    fill:#fff!important;
    padding: 3px;
}}

.nav-pills{
    .nav-item{
        svg{
        align-content: flex-end;}
    }
}
.img-box {
    .contourning {
        border: 1px solid $grey;
        margin: 1rem;
        img {
            height: 100vh;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.col-xl{
    min-width: 250px;
    padding: 0;
    margin: 5px;
}


/* login */
.login {
    background-color: #fff; 
    .img-bg-login{
        background-image: url(assets/img/bg-login.png), linear-gradient(to bottom right,$dark_blue, $blue);
        background-size: cover;
        background-repeat: no-repeat;

    }
    .col-md-6 {
        padding: 0;
        max-width: 50%;
        flex: 0 0 50%;
        height: 100vh;
    }
    h4 {
        color: $grey;
        font-size: 1rem;
    }
}
/* spinner */
.spinner-bigger{
    width: 3rem; 
    height: 3rem;
    color: $green;
}
.spinner-overlay{
    background:$light_grey;
    height: 100%;
    width: 100%;
    margin: 0 -15px;
    padding: 40px;
    position: absolute;
}


/* Dashboard */
.icon-dash {
    fill: $light_grey;
    width: 5rem;
    margin-left: 8px;
}
app-dashboard{
    .table-container{
        min-width: 380px;
        margin-bottom: 30px;
        margin-inline-end: 15px;
    }
}

/* Charts */
.chart-report {
    min-height: 400px;
    padding: 2rem;
}
app-reports .nav.nav.nav-pills{
    margin: 1rem 0rem 0  0;
}

.svg-success{
    fill:$green
}
.svg-danger{
    fill:$red
}


.image-gallery-2 {
    margin-top: 45px;
    margin-bottom: 0px;
    .prev, .next{
        display: none;
    }
}

.iv-image {
    visibility: visible !important;
}

.badge-internal{
    position: absolute;
    padding: 10px;
    padding-top: 11px;
    left: 15px;
    color: #fff;
}

hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}