<div class="container-fluid">
    <div>
        <ngb-tabset #tabs type="pills" ng-reflect-justify="fill" justify="between" [activeId]="aux.current_tab">
            <ngb-tab id="{{aux.inbox_tab_id}}">
                <ng-template ngbTabTitle class="active">
                    Inbox
                    ({{inbox.length}})
                </ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th translate>Account ID</th>
                            <th translate>Status</th>
                            <th translate>Group</th>
                            <th translate>Arrived</th>
                            <th translate>WaitTime</th>
                            <th translate>User</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="aux.loading_inbox">
                                <td colspan="100%">
                                    <div class="d-flex justify-content-center">
                                        <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
                                    </div>
                                </td>
                            </tr>

                            <tr *ngFor="let item of inbox | slice:0:100">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.account_id}}</td>
                                <td>
                                    <span class="tag-secondary btn-sm" *ngIf="item.status==0" translate>Pending</span>
                                    <span class="tag-warning btn-sm" *ngIf="item.status>=1" translate> In progress</span>
                                </td>
                                <td>{{item.group_name}}</td>
                                <td>{{item.arrived | date:'dd-MM-yyyy HH:mm'}}</td>
                                <td>
                                    <span *ngIf="!!item.waittime">{{item.waittime.split('.')[0]}}</span>
                                    <cd-timer *ngIf="!!!item.waittime" format="hms" [startTime]="item.arrived | diff ">
                                    </cd-timer>
                                </td>
                                <td>{{!!item.last_user ? item.last_user.username : ''}}</td>
                                <td class="text-right">
                                    <button class="btn btn-sm btn-outline-secondary" (click)="get_ticket(item.id)"
                                            *ngIf="item.status >= aux.ticket_status.WORKING" translate>
                                            <span *ngIf="aux.sending[item.id]"
                                                  class="spinner-border spinner-border-sm mr-1"></span>
                                        View
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>

            <ngb-tab *ngFor="let ticket of working" [id]="ticket.id">
                <ng-template ngbTabTitle class="ticket ">
                    {{ ticket.account_name }} -
                    <cd-timer *ngIf="ticket.status == aux.ticket_status.WORKING" format="hms"
                              [startTime]="ticket.start | diff "></cd-timer>
                    <span *ngIf="ticket.status != aux.ticket_status.WORKING">{{ticket.last_duration}}</span>

                    <a href="#/" *ngIf="ticket.read_only" (click)="close_tab(ticket.id)">
                        <svg viewBox="0 0 100 100" class="icon ">
                            <use attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#times-solid'}}"></use>
                        </svg>
                    </a>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row justify-content-between">

                        <!----------------------- IMAGE ----------------------->
                        <div class="table-container col-md-6 img-box">
                            <div class="contourning">
                                <app-image-viewer *ngIf="!is_pdf(ticket.file.file)"
                                                  [images]="[aux.url_media + ticket.file.file]"
                                                  [idContainer]="'id_' + ticket.id"
                                                  [loadOnInit]="true" [download]="false" [showPDFOnlyOption]="false"
                                                  [primaryColor]="'#283348'"></app-image-viewer>

                                <object *ngIf="is_pdf(ticket.file.file)" [data]="ticket.safe_url" type="application/pdf"
                                        width="100%" height="700px">
                                    <embed [src]="ticket.safe_url" type="application/pdf">
                                </object>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <!----------------------- HEADER ----------------------->
                            <div class="d-flex bd-highlight mb-3">
                                <h1 class="p-0">Ticket #{{ ticket.id }}</h1>


                                <!----------------------- Transfer ----------------------->
                                <div *ngIf="ticket.allowed_to_transfer" class="p-2 bd-highlight transfer">
                                    <button type="button"
                                            class="btn waves-effect waves-light  btn-transfer btn-primary mr-2"
                                            translate [swal]="transfer">
                                        Transfer
                                    </button>
                                    <swal #transfer title="{{'Transfer ticket' | translate}}" [showCancelButton]="true"
                                          [focusCancel]="true" (confirm)="tranfer_ticket(ticket)"
                                          (beforeOpen)="load_online($event)">
                                        <form *swalPortal [formGroup]="ticket.form_tranfer">
                                            <select class="form-control" formControlName="user"
                                                    attr.placeholder="{{'Select agent' | translate}}">
                                                <option *ngFor="let u of aux.users_online" [value]="u.id">{{u.username}}
                                                </option>
                                            </select>
                                        </form>
                                    </swal>
                                </div>



                                <span class="timer ml-auto p-2 bd-highlight d-flex justify-content-center align-items-center">
                                    <svg viewBox="0 0 100 100" class="icon mr-2">
                                        <use attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#clock'}}"></use>
                                    </svg>

                                    <cd-timer *ngIf="ticket.status == aux.ticket_status.WORKING" format="hms"
                                              [startTime]="ticket.start | diff "></cd-timer>
                                    <span *ngIf="ticket.status != aux.ticket_status.WORKING">{{ticket.last_duration}}</span>
                                </span>
                            </div>

                            <div class="row justify-content-between mt-4">

                                <!----------------------- CUSTOMER INFO ----------------------->
                                <div class="table-container customer-table col-xl">

                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th class="text-left">{{ticket.account_name}}
                                                <a href="/#" (click)="copy_to_clipboard(ticket.account_name)">
                                                    <svg viewBox="0 0 100 100" class="icon ml-2">
                                                        <use
                                                                attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#copy'}}">
                                                        </use>
                                                    </svg>
                                                </a>
                                            </th>

                                            <th class="text-right">
                                                <span class="pr-2" translate>Tiercode</span>
                                                <span class="tier-code-number pl-2">{{ticket.group.name}}</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="type-row" translate>Account ID</th>
                                            <td class="text-right">{{ticket.account_id}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>Domain</th>
                                            <td class="text-right">{{ticket.domain_slug}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>CPF</th>
                                            <td class="text-right">
                                                {{ticket.cpf_info.cpf}}
                                                <span *ngIf="!!!ticket.cpf_info"
                                                      class="spinner-border spinner-border-sm mr-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>Birthdate</th>
                                            <td class="text-right">
                                                {{ticket.cpf_info.birthdate}}
                                                <span *ngIf="!!!ticket.cpf_info"
                                                      class="spinner-border spinner-border-sm mr-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>Status CPF</th>
                                            <td class="text-right">
                                                    <span *ngIf="!!!ticket.cpf_info"
                                                          class="spinner-border spinner-border-sm mr-1"></span>

                                                <div *ngIf="!!ticket.cpf_info">
                                                        <span *ngIf="ticket.cpf_info['cpf_status']=='VERIFIED'"
                                                              class="tag-success btn-sm" translate>Verified</span>
                                                    <span *ngIf="ticket.cpf_info['cpf_status']==null"
                                                          class="tag-danger btn-sm" translate>Not Verified</span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row" class="type-row" translate>Tickets success</th>
                                            <td class="text-right">
                                                {{ticket.by_status_info.success}}
                                                <span *ngIf="ticket.by_status_info.success == null"
                                                      class="spinner-border spinner-border-sm mr-1"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!----------------------- TICKET INFO ----------------------->
                                <div class="table-container ticket-table col-xl">
                                    <table class="table">
                                        <thead class="thead-danger">
                                        <tr>
                                            <th class="text-left">{{ticket.last_user.username}}</th>
                                            <th class="text-right">
                                                    <span *ngIf="ticket.status == aux.ticket_status.WORKING"
                                                          translate>In Progress</span>
                                                <span *ngIf="ticket.status == aux.ticket_status.SUCCESS"
                                                      translate>Success</span>
                                                <span *ngIf="ticket.status >= aux.ticket_status.REJECTED"
                                                      translate>Rejected</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="type-row" translate>Arrived</th>
                                            <td class="text-right">{{ticket.arrived | date: 'dd-MM-yyyy HH:mm'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>IP</th>
                                            <td class="text-right">{{ticket.ip}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>City</th>
                                            <td class="text-right">{{ticket.city}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate>Country</th>
                                            <td class="text-right">{{ticket.country}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="type-row" translate></th>
                                            <td class="text-right">

                                                <i placement="bottom" ngbTooltip="{{ticket.platform | titlecase}}">
                                                    <svg viewBox="0 0 100 100" class="icon ml-2">
                                                        <use
                                                                attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#' + ticket.platform}}">
                                                        </use>
                                                    </svg>
                                                </i>

                                                <i placement="bottom" ngbTooltip="{{ticket.os | titlecase}}">
                                                    <svg viewBox="0 0 100 100" class="icon ml-2">
                                                        <use
                                                                attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#' + ticket.os}}">
                                                        </use>
                                                    </svg>
                                                </i>

                                                <i placement="bottom" ngbTooltip="{{ticket.browser | titlecase}}">
                                                    <svg viewBox="0 0 100 100" class="icon ml-2">
                                                        <use
                                                                attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#' + ticket.browser}}">
                                                        </use>
                                                    </svg>
                                                </i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <!----------------------- ACTIONS ----------------------->
                            <div class="table-container mt-4" *ngIf="!ticket.read_only">
                                <div class="content">
                                    <form [formGroup]="ticket.form">
                                        <select class="form-control" formControlName="message"
                                                [ngClass]="{ 'is-invalid': ticket.submitted && ticket.form.controls.message.errors }">
                                            <option *ngFor="let option of aux.message_prefixes" value="{{option.id}}">
                                                {{option.title}}
                                            </option>
                                        </select>

                                        <!--<ng-select
                                                [items]="aux.message_prefixes"
                                                bindLabel="title"
                                                bindValue="id"
                                                formControlName="message"
                                                [ngClass]="{ 'is-invalid': ticket.submitted && ticket.form.controls.message.errors }"
                                        ></ng-select>-->
                                    </form>
                                    <div class="pb-2 pt-2 d-flex justify-content-end">

                                        <!-- Message internals badge -->
                                        <span   class="badge badge-pill badge-warning badge-internal"
                                                *ngIf="ticket.internals.length>0"
                                                placement="top" ngbTooltip="{{'This client has internal messages' | translate}}">
                                            <svg viewBox="0 0 100 100" class="icon icon">
                                                <use
                                                        attr.xlink:href="{{ aux.url_assets + 'img/icons/sprite.svg#message'}}">
                                                </use>
                                            </svg>
                                            {{ticket.internals.length}}
                                        </span>

                                        <button type="button" class="btn waves-effect waves-light btn-danger mr-2"
                                                translate (click)="save(ticket, aux.ticket_status.REJECTED)"
                                                [disabled]="ticket.sending.some">
                                            <span *ngIf="ticket.sending[aux.ticket_status.REJECTED]"
                                                  class="spinner-border spinner-border-sm mr-1"></span>
                                            Reject
                                        </button>
                                        <button type="button" class="btn waves-effect waves-light btn-special mr-2"
                                                translate (click)="save(ticket, aux.ticket_status.TEMP_REJECTED)"
                                                [disabled]="ticket.sending.some">
                                            <span *ngIf="ticket.sending[aux.ticket_status.TEMP_REJECTED]"
                                                  class="spinner-border spinner-border-sm mr-1"></span>
                                            One instance rejection
                                        </button>
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-success d-flex flex-row align-items-center"
                                                translate (click)="save(ticket, aux.ticket_status.SUCCESS)"
                                                [disabled]="ticket.sending.some">
                                            <span *ngIf="ticket.sending[aux.ticket_status.SUCCESS]"
                                                  class="spinner-border spinner-border-sm mr-1"></span>
                                            Release
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!----------------------- INTERNALS ----------------------->
                            <div class="table-container mt-4" *ngIf="ticket.internals.length>0">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th translate>Created</th>
                                        <th translate>Account ID</th>
                                        <th translate>Author</th>
                                        <th translate>message</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="ticket.internals.length==0">
                                        <td colspan="100%">
                                            <div class="d-flex justify-content-center">
                                                <div class="alert alert-light mb-0" translate>
                                                    There is no data to show yet :)
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr *ngFor="let internal of ticket.internals">
                                        <td>{{internal.created | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{internal.account_id}}</td>
                                        <td>{{internal.author_name}}</td>
                                        <td>{{internal.message}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>