<div class="container-fluid">
  <h1 translate>Groups assignments</h1>
  <div class="row">
    <div class="table-container col-md-6">
      <div class="pt-4 pb-2">
        <h6 class="pl-4" translate>Assignments by user</h6>
        <hr>
      </div>
      <div class="pb-4">
        <form class="pl-4 pr-4" [formGroup]="form_byuser">
          <label translate>User</label>
          <ng-select 
            [items]="list_users" 
            (change)="select_mygroups($event)"
            autofocus 
            bindLabel="username" 
            bindValue="id"  
            formControlName="user"></ng-select>
          <label translate>Groups</label>
          <ng-select 
            [items]="list_groups" 
            [multiple]="true"             
            autofocus 
            bindLabel="name"             
            bindValue="id"             
            formControlName="groups"></ng-select>
        </form>
      </div>
      <div class="pb-4 pr-4 float-right">
        <button type="button" class="btn waves-effect waves-light btn-success mr-0  d-flex flex-row align-items-center"
          (click)="submit(form_byuser)" [disabled]="aux.sending" translate> 
          <svg viewBox="0 0 100 100" width="10px" class="icon mr-2" *ngIf="!aux.sending">
            <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#check'}}"></use>
          </svg>
          <span *ngIf="aux.sending" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
      </div>
    </div>

    <div class="table-container col-md-6 ml-auto " *ngIf="false">
      <div class="pt-4 pb-2">
        <h5 translate>Assignments by group</h5>
        <hr>
      </div>
      <div class="pb-4">
        <label for="inputName">Groups</label>
        <input type="text" class="form-control" id="inputName" placeholder="Ej: jliandro">
        <label for="inputText">Agent</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <div class="pb-4 float-right">
        <button type="button" class="btn waves-effect waves-light btn-success mr-0  d-flex flex-row align-items-center"
          onclick=""> <svg viewBox="0 0 100 100" width="10px" class="icon mr-2">
            <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#check'}}"></use>
          </svg>Guardar</button>
      </div>
    </div>
  </div>
</div>