<div class="container-fluid">
    <div class="row mt-4 d-flex flex-wrap">

        <!-------------- Line statistics ------------->
        <div class="table-container col-md-3">
            <div class="spinner-overlay" *ngIf="loading.line_stats">
                <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="pt-4">
                        <h6 class="subtitle">Line</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="pr-4">
                            <p class="crono">{{data.line_stats?.pending}}</p>
                            <p class="text-sm-secondary">Pending</p>
                        </div>
                        <div>
                            <p class="crono">{{data.line_stats?.working}}</p>
                            <p class="text-sm-secondary">Working</p>
                        </div>
                    </div>
                </div>
                <div>
                    <svg viewBox="0 0 100 100" class="icon-dash">
                        <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#tickets'}}"></use>
                    </svg>
                </div>
            </div>
        </div>


        <!-------------- Times statistics ------------->
        <div class="table-container col-md-3">
            <div class="spinner-overlay" *ngIf="loading.times_stats">
                <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="pt-4">
                        <h6 class="subtitle">Avg times</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="pr-4">
                            <p class="crono">{{data.times_stats?.waittime | duration}}</p>
                            <p class="text-sm-secondary">Avg Wait Time</p>
                        </div>
                        <div>
                            <p class="crono">{{data.times_stats?.duration | duration}}</p>
                            <p class="text-sm-secondary">Avg Duration</p>
                        </div>
                    </div>
                </div>
                <div>
                    <svg viewBox="0 0 100 100" class="icon-dash">
                       <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#clock'}}"></use>
                    </svg>
                </div>
            </div>
        </div>


        <!-------------- Agents statistics ------------->
        <div class="table-container col-md-3">
                <div class="spinner-overlay" *ngIf="loading.times_stats">
                    <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
                </div>
                <div class="d-flex justify-content-between align-items-center agents">
                    <div>
                        <div class="pt-4">
                        <h6 class="subtitle">Agents</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="pr-4">
                            <p class="crono">{{data.users_stats?.online}}</p>
                            <p class="text-sm-success">Online</p>
                        </div>
                        <div class="pr-4">
                            <p class="crono">{{data.users_stats?.back_5}}</p>
                            <p class="text-sm-secondary">Back to 5</p>
                        </div>
                        <div>
                            <p class="crono">{{data.users_stats?.break}}</p>
                            <p class="text-sm-warning">Break</p>
                        </div>
                    </div>
                </div>
                <div>
                    <svg viewBox="0 0 100 100" class="icon-dash">
                       <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#agents'}}"></use>
                    </svg>
                </div>
            </div>
        </div>


        <!-------------- Ticket statistics ------------->
        <div class="table-container col-md-3">
            <div class="spinner-overlay" *ngIf="loading.tickets_stats">
                <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="pt-4">
                        <h6 class="subtitle">Tickets today</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="pr-4">
                            <p class="crono">{{data.tickets_stats?.success}}</p>
                            <p class="text-sm-secondary">Success</p>
                        </div>
                         <div class="pr-4">
                            <p class="crono">{{data.tickets_stats?.rejected}}</p>
                            <p class="text-sm-secondary">Rejected</p>
                        </div>
                         <div class="pr-4">
                            <p class="crono">{{data.tickets_stats?.once}}</p>
                            <p class="text-sm-secondary">Rejected Once</p>
                        </div>
                    </div>
                </div>
                <div>
                     <svg viewBox="0 0 100 100" class="icon-dash">
                       <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#tasks'}}"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-4 d-flex justify-content-between">


        <!--<div class="col-md-6">
            <div class="row d-flex justify-content-between">
                <div class="table-container col-md-6">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><svg viewBox="0 0 100 100" class="icon mr-2">
                                        <use xlink:href="assets/img/icons/sprite.svg#clock"></use>
                                    </svg>Top Fast</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>tgomez</td>
                                <td class="text-right"><span class="tag-success btn-sm">00:00:26</span></td>
                            </tr>
                            <tr>
                                <td>tgomez</td>
                                <td class="text-right"><span class="tag-secondary btn-sm">00:00:36</span></td>
                            </tr>
                            <tr>
                                <td>tgomez</td>
                                <td class="text-right"><span class="tag-secondary btn-sm">00:00:36</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-container col-md-6">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><svg viewBox="0 0 100 100" class="icon mr-2">
                                        <use xlink:href="assets/img/icons/sprite.svg#sort-up"></use>
                                    </svg>Top Quality </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>tgomez</td>
                                <td class="text-right"><span class="tag-success btn-sm">1461</span></td>
                            </tr>
                            <tr>
                                <td>tgomez</td>
                                <td class="text-right"><span class="tag-secondary btn-sm">1381</span></td>
                            </tr>
                            <tr>
                                <td>tgomez</td>
                                <td class="text-right"><span class="tag-secondary btn-sm">1285</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->

        <!-------------- Ticket by hours ------------->
        <div class="table-container col-md-6">
            <!--<div class="p-4 d-flex content justify-content-between">
                <h6>Estadisticas</h6>
                <select class="form-control w-auto">
                    <option>Últimas 4 horas</option>
                </select>
            </div>
            <div class="charts chart-wrapper">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <div class="bar-stadistics d-flex justify-content-around">
                <div>
                    <span>188<br>TODAY</span>
                </div>
                <div>
                    <span>15682<br>YESTERDAY</span>
                </div>
                <div>
                    <span>46451<br>WEEK</span>
                </div>
                <div>
                    <span>873379<br>MONTH</span>
                </div>
            </div>-->
        </div>
    </div>
</div>