<div class="container-fluid">
  <h1>List of Agents</h1>
  <div class="table-container">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th translate>User</th>
          <th translate>Status</th>
          <th translate>Tickets Today</th>
          <th translate>Autoassign</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="list.length==0">
          <td colspan="100%">
            <div class="d-flex justify-content-center">
              <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
            </div>
          </td>
        </tr>

        <tr *ngFor="let item of list">
          <th>{{item.username}}</th>
          <td>
            <span class="tag-success btn-sm" *ngIf="item.status == status.ONLINE">Online</span>
            <span class="tag-warning btn-sm" *ngIf="item.status == status.BACK_5">Back 5</span>
            <span class="tag-secondary btn-sm" *ngIf="item.status == status.BREAK">Break</span>
            <span class="tag-secondary btn-sm" *ngIf="item.status == status.PRELOGOFF">Pre Logoff</span>
            <span class="tag-secondary btn-sm" *ngIf="item.status == status.OFFLINE">Offline</span>
          </td>
          <td>{{item.ticket_today}}</td>
          <td>
            <svg viewBox="0 0 100 100" width="15" height="15" class="svg-success" *ngIf="item.has_autoassign">
              <use xlink:href="assets/img/icons/sprite.svg#check"></use>
            </svg>

            <svg viewBox="0 0 100 100" width="15" height="15" class="svg-danger" *ngIf="!item.has_autoassign">
              <use xlink:href="assets/img/icons/sprite.svg#times-solid"></use>
            </svg>
          </td>
          <td class="text-right">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="force_logout(item.id)" translate>              
              <span *ngIf="sending_logout[item.id]" class="spinner-border spinner-border-sm mr-1"></span>
              Logout
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
              (click)="update_autoassign(item.id, !item.has_autoassign)" translate>
              <span *ngIf="sending_autoassign[item.id]" class="spinner-border spinner-border-sm mr-1"></span>
              Change Autoassign
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>