<div class="container-fluid">

    <!-- HEADER ---------------------------------------------------------->
    <h1 translate>List of Message internals</h1>
    <div class="table-container">
        <div class="d-flex content align-items-center">
            <div>
                <!--<input class="form-control form-control-sm search" type="text" placeholder="Search" aria-label="Search">-->
            </div>
            <div class="mx-auto">
                <ngb-pagination
                        [maxSize]="5"
                        [collectionSize]="aux.page_total"
                        [pageSize]="aux.page_size"
                        [(page)]="aux.page"
                        (pageChange)="get_data_by_page($event)"></ngb-pagination>
            </div>

            <label translate>Account ID</label>&nbsp;
                <input type="text" class="form-control" [(ngModel)]="account_id"
                           (change)="filterAccountID()" style="width: 110px;">

            <button class="btn btn-dark ml-4 d-flex flex-row align-items-center" (click)="open_form(form_modal)"
                    translate>
                <svg viewBox="0 0 100 100" class="icon">
                    <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#plus'}}"></use>
                </svg>
                New
            </button>
        </div>

        <!-- MODAL ------------------------------------------------------>
        <ng-template #form_modal let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" translate>Form Message internals</h4>
                <button type="button" class="close" (click)="d()"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <div *ngIf="aux.error_form" class="alert alert-danger mt-3 mb-0">{{aux.error_form}}</div>
                <form [formGroup]="form">
                    <label translate>Account ID</label>
                    <input type="text" class="form-control" formControlName="account_id"
                           [ngClass]="{ 'is-invalid': aux.submitted && f.account_id.errors }">
                    <label translate>Username</label>
                    <input type="text" class="form-control" formControlName="username"
                           [ngClass]="{ 'is-invalid': aux.submitted && f.username.errors }">
                    <label translate>Message</label>
                    <textarea class="form-control" rows="5" formControlName="message"
                              [ngClass]="{ 'is-invalid': aux.submitted && f.message.errors }">
          </textarea>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-secondary" translate (click)="d()">
                    Cancel
                </button>
                <button type="button" class="btn waves-effect waves-light btn-success mr-0" translate (click)="save()"
                        [disabled]="aux.sending">
                    <span *ngIf="aux.sending" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
            </div>
        </ng-template>


        <!-- TABLE ------------------------------------------------------------>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" translate>Account Id</th>
                <th scope="col" translate>Username</th>
                <th scope="col" translate>Message</th>
                <th scope="col" translate>Author</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr *ngIf="aux.loading">
                <td colspan="100%">
                    <div class="d-flex justify-content-center">
                        <span class="spinner-border spinner-border-sm spinner-bigger d-block m-auto m-0"></span>
                    </div>
                </td>
            </tr>

            <tr *ngIf="!aux.loading && list.length==0">
                <td colspan="100%">
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-primary mb-0" translate>
                            There is no data to show yet :)
                        </div>
                    </div>
                </td>
            </tr>


            <tr *ngFor="let item of list">
                <th scope="row">{{item.id}}</th>
                <td>{{item.account_id}}</td>
                <td>{{item.username}}</td>
                <td>{{item.message}}</td>
                <td>{{item.author_name}}</td>
                <td class="text-right">
                    <button type="button" class="btn btn-sm btn-outline-success" translate
                            (click)="open_form(form_modal, item)">Edit
                    </button>

                    <swal #deleteSwal title="{{ 'Delete item' | translate}}"
                          text="{{ 'Are you sure you want to delete?' | translate }}"
                          [showCancelButton]="true" [focusCancel]="true" (confirm)="delete(item.id)">
                    </swal>

                    <button type="button" class="btn btn-sm btn-outline-danger" translate [swal]="deleteSwal">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>