<!--Side Nav-->
<div>
    <nav class="nav d-flex align-items-start flex-column ">
        <a class="navbar-brand d-flex justify-content-center align-items-center" href="#"><img
                src="{{ env.URL_BASE_ASSETS + 'img/logo_sm.png'}}" width="107"></a>

        <a class="nav-link d-flex flex-column align-items-center justify-content-center" href="{{ env.URL_DASHBOARD }}"
           translate *ngIf="enabled(user_level.SUPERVISOR)" target="_blank">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#tachometer-alt'}}"></use>
            </svg>
            dashboard</a>
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['groups']"
           translate *ngIf="enabled(user_level.ADMIN)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#users'}}"></use>
            </svg>
            groups</a>
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['messages']"
           translate *ngIf="enabled(user_level.SUPERVISOR)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#comment'}}"></use>
            </svg>
            prefix_message</a>
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['autorejects']"
           translate *ngIf="enabled(user_level.SUPERVISOR)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#ban'}}"></use>
            </svg>
            auto_reject</a>
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['internals']"
           translate *ngIf="enabled(user_level.SUPERVISOR)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#comment-dots-regular'}}"></use>
            </svg>
            internals</a>
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['assignment']"
           translate
           *ngIf="enabled(user_level.SUPERVISOR) || (enabled(user_level.STANDARD) && currentUser.has_autoassign)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#users-cog'}}"></use>
            </svg>
            group_assigment</a>
        <!--<a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['reports']"
           translate *ngIf="enabled(user_level.SUPERVISOR)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#chart-bar'}}"></use>
            </svg>
            reports</a>-->
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['agents']"
           translate *ngIf="enabled(user_level.SUPERVISOR)">
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#user'}}"></use>
            </svg>
            agents</a>
        <a class="nav-link d-flex flex-column align-items-center justify-content-center" [routerLink]="['']" translate>
            <svg viewBox="0 0 100 100" class="icon">
                <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#inbox'}}"></use>
            </svg>
            inbox</a>
    </nav>
</div>

<!--Top Nav-->
<nav class="navbar navbar-expand-lg row">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-self-stretch align-items-center" id="navbarNavDropdown">
        <ol class="navbar-nav breadcrumb mr-auto">
            <!--
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" translate>dashboard</li>
            -->
        </ol>
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <svg width="15" height="15" viewBox="0 0 100 100" class="icon">
                    <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#globe'}}"></use>
                </svg>
                ES
            </li>
            <li class="nav-item">
                <svg width="15" height="15" viewBox="0 0 100 100" class="icon">
                    <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#user'}}"></use>
                </svg>
                {{currentUser.username}}
            </li>
            <!--<li class="nav-item" id="status">
                <div class="input-group">

                    <select class="custom-select" (change)="change_status()" [(ngModel)]="current_status">
                      <option *ngFor="let status of user_status.values()" [value]="user_status[status]">{{status}}</option>
                    </select>
                  </div>
            </li>-->

            <li class="nav-item d-flex align-self-stretch align-items-center">
                <span *ngIf="status_sending" class="spinner-border spinner-border-sm mr-1"></span>
                <div ngbDropdown>
                    <button class="status-dropdown" id="status-dropdown" ngbDropdownToggle>
                        <span *ngIf="!status_sending" class="{{user_status[current_status] | lowercase }}"></span>
                        {{user_status[current_status] | titlecase}}
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem *ngFor="let status of user_status.values()" (click)="change_status(user_status[status])" >
                            <span class="{{status | lowercase}}"></span> {{status | titlecase }}
                        </button>
                    </div>
                </div>
            </li>

            <li class="nav-item" id="exit">
                <a (click)="logout()">
                    <svg width="30" height="30" viewBox="0 0 100 100" class="icon">
                        <use attr.xlink:href="{{ env.URL_BASE_ASSETS + 'img/icons/sprite.svg#sign-out-alt'}}"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</nav>


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>