// betboo

$body: #fff;
$steps: #d7d7d7;
$active: #373737;
$primaryText: #373737;
$lightTexts: #fff;
$button1: #373737;
$button2: #373737;
$success: #2db343;
$reject: #ff3b30;
$info: #1284e0;
$tableBorder: #c3c3c3;
$tooltip: #1284e0;
$disable: #d2d2d2;