// Imports

@import './variables.scss';
@import '//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,greek,cyrillic';

// Var
//$urlbase: '/assets/'; // DEV
$urlbase: 'https://attis-public.dev.gomifer.com/assets'; // PROD

// Mixins

@mixin message($background, $image) {
    color: $lightTexts;
    line-height: 22px;
    text-transform: uppercase;
    background: $background;
    border-radius: 4px;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 10px;

    &::before {
        content: '';
        display: inline-block;        
        background: url($urlbase + $image) no-repeat;
        width: 16px;
        height: 16px;
        position: relative;
        top: 3px;
        margin-right: 5px;
    }  
}

@mixin button($background, $borderColor, $textColor) {
    display: block;
    height: 50px;
    line-height: 50px;
    width: 100%;    
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 15px; 
    background-color: $background;
    border: solid 1px $borderColor;
    color: $textColor;
}

@mixin text($align) {
    font-size: 14px;
    color: $primaryText;
    margin-bottom: 30px; 
    text-align: $align
}

@mixin ico($icoBg) {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: default;
    background: url($urlbase + $icoBg) no-repeat;
}

// Animations

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}
  
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}
  
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
}
  

// Mobile First

*, *:after, *:before {
    -moz-box-sizing: border-box; // Firefox <= 19
    box-sizing: border-box;
    font-family: 'Open sans', Verdana, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
    padding: 0; 
    background: var(--body);
}

.attis-container {
    width: 100%;
    padding: 30px 15px;
} 

.steps {
    display: flex; 
    width: 100%;
    margin-bottom: 25px;

    .step {
        font-size: 20px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid $steps;
        color: $steps;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        text-align: center;
    }

    .active {
        background: $active;
        border: 1px solid $active;
        color: var(--body);
    }

    .line {
        width: calc(50% - 83px);
        height: 1px;
        background: $steps;
        margin: 20px 10px;
    }

}

.message {
    @include text(left);
}

.fileInput {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.button1 {
    @include button($button1, $button1, $lightTexts);  
    line-height: 16px;
    padding-top: 9px;

    small {
        height: 10px;
        font-size: 10px;
    }
    .disabled{
        background-color: $disable;
        border-color: $disable;
    }

    span{
        margin-right: 10px;
        margin-top: 7px;
    }
}
.button2 {
    @include button(var(--body), $button2, $button2);
    font-weight: 600;
}
.button3 {
    @include button($button1, $button1, $lightTexts);  
}


.success {
    @include message($success,'/img/successfunds.png')  
}
.reject {
    @include message($reject,'/img/rejectfunds.png')  
}
.info {
    @include message($info,'/img/info.png')  
}

.processing{
    @include text(center);

    &::before {
        content: '';
        display: inline-block;        
        background: url($urlbase + '/img/loading.png') no-repeat;
        width: 25px;
        height: 25px;
        position: relative;
        top: 6px;
        margin-right: 5px;
        animation: rotation 1s infinite linear;
    }  

}

// History Table

table.history {
    border-spacing: 0;
    width: 100%;
    font-size: 14px;
    color: $primaryText;
    border-left: 1px solid $tableBorder;
    border-top: 1px solid $tableBorder;
    margin-bottom: 30px;

    caption {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    thead {
            tr{
                th {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
    }
    tr {
        td, th {
            font-size: 14px;
            padding: 15px 10px;
            vertical-align: middle;
            text-align: center;
            background: inherit;
            border-right: 1px solid $tableBorder;
            border-bottom: 1px solid $tableBorder;
        }
    }
}

.icoRejected {
    @include ico('/img/reject.png')
}

.icoSuccess {
    @include ico('/img/success.png')
}

.icoLoading {
    @include ico('/img/loading.png');
    background-size: 16px;
    animation: rotation 1s infinite linear;
} 

// Boostrap Tooltip

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 12px;
    word-wrap: break-word;
    opacity: 0;
  }
  
  .tooltip.show {
    opacity: 1;
  }
  
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
  }
  
  .tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
  
  .bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
    padding: 0 0.4rem;
  }
  
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
  }
  
  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: $tooltip;
  }
  
  .tooltip-inner {
    max-width: 260px;
    padding: 10px 15px;
    color: $lightTexts;
    text-align: left;
    background-color: $tooltip;
    border-radius: 4px;
  }


// Tablet

@media only screen and (min-width: 768px) {
    .attis-container {
        width: 345px;
        margin: 0 auto;
        padding: 30px 0;
    } 
    
}

// Desktop

@media only screen and (min-width: 992px) {
    .attis-container {
        width: 520px;
        margin: 0 auto;
        padding: 30px 0;
    } 
}

