<div class="attis-container">
    <table class="history">
        <caption translate>ttl_history</caption>
        <thead>
            <tr>
                <th>#</th>
                <th translate>ttl_date</th>
                <th translate>ttl_status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list">
                <td>{{item.id}}</td>
                <td>{{item.arrived | dateAgo }}</td>
                <td>
                        <a placement="left" ngbTooltip="{{ (item.last_result != null) ? item.last_result.body : ''}}">
                            <span 
                            [class.icoLoading]="item.status <= ticket_status.WORKING"
                            [class.icoSuccess]="item.status == ticket_status.SUCCESS"
                            [class.icoRejected]="item.status >= ticket_status.REJECTED"
                            ></span>
                        </a>      
                </td>
            </tr>
        </tbody>
    </table>

    <div class="menu">
            <a class="button3" routerLink='/created' translate>cta_back</a>
        </div>

</div>