<div class="d-flex login">
    <div class="col-md-6 img-bg-login">
        <!--<img src="{{ env.URL_BASE_ASSETS + 'img/bg-login.png' }}" alt="waves">-->
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="text-center">
                <img src="{{ env.URL_BASE_ASSETS + 'img/logo_sm.png' }}">
            </div>

            <div class="pt-4" style="text-align: center;">
                <form style="display: inline-block;" role="form" id="signinform"  method="post">
                    <div class="btn-office" (click)="login_microsoft_click()">
                        <div style="display: inline-block;" class="logo-office">
                            <span *ngIf="loading_office" class="spinner-border spinner-border-sm mr-1"></span>
                            <img *ngIf="!loading_office" img src="{{ env.URL_BASE_ASSETS + 'img/logo-office.png' }}">
                        </div>
                        <span class="fnt-office"> Sign in with Microsoft</span>
                    </div>
                </form>

                <br><br>

                <div class="mb-4" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseLogin">
                    <hr data-content="More Options" class="hr-text">
                </div>

                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                <form [formGroup]="form_login" (ngSubmit)="submit()" id="collapseLogin" id="collapseLogin" [ngbCollapse]="!isCollapsed">
                    <input type="text" class="form-control" placeholder="{{ 'Username' | translate }}"
                        formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}"
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                    <div class="d-flex flex-column py-4">
                        <button class="btn waves-effect waves-light btn-success mr-0" translate [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>