<div class="container-fluid">
        <h1>Reports</h1>
    <div class="table-container mt-4">
        <div class="d-flex content flex-row-reverse">
            <select class="form-control w-auto">
                <option>11-11-2019 17-11-2019</option>
            </select>
        </div>
        <div class="title-box">Volume By Agent</div>
        <div class="charts chart-wrapper chart-report">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [colors]="barChartColors" 
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>   
    </div>
    <div>
        <ngb-tabset type="pills" ng-reflect-justify="fill" justify="between">
            <ngb-tab>
                <ng-template ngbTabTitle class="active">Month</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Month</th>
                                <th scope="col">Agent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Ok</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">11</th>
                                <td>ccurbelo2</td>
                                <td>9895</td>
                                <td>6478</td>
                                <td>3351</td>
                                <td>00:00:48</td>
                                <td>64:32:59</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>ccurbelo2</td>
                                <td>9895</td>
                                <td>6478</td>
                                <td>3351</td>
                                <td>00:00:48</td>
                                <td>64:32:59</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>ccurbelo2</td>
                                <td>9895</td>
                                <td>6478</td>
                                <td>3351</td>
                                <td>00:00:48</td>
                                <td>64:32:59</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>11-11-2019</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">pfontes</th>
                                <td>141</td>
                                <td>81</td>
                                <td>60</td>
                                <td>00:00:48</td>
                                <td>02:32:59</td>
                            </tr>
                            <tr>
                                <th scope="row">scardoso</th>
                                <td>141</td>
                                <td>81</td>
                                <td>60</td>
                                <td>00:00:48</td>
                                <td>02:32:59</td>
                            </tr>
                            <tr>
                                <th scope="row">ssvila</th>
                                <td>141</td>
                                <td>81</td>
                                <td>60</td>
                                <td>00:00:48</td>
                                <td>02:32:59</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>12-11-2019</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>13-11-2019</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>14-11-2019</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>15-11-2019</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>16-11-2019</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Current Week</ng-template>
                <ng-template ngbTabContent>
                    <!-- Table -->
                    <table class="table table-container">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Agents</th>
                                <th scope="col">Total</th>
                                <th scope="col">Success</th>
                                <th scope="col">Rejected</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">pfontes</th>
                                <td>141</td>
                                <td>81</td>
                                <td>60</td>
                                <td>00:00:48</td>
                                <td>02:32:59</td>
                            </tr>
                            <tr>
                                <th scope="row">scardoso</th>
                                <td>141</td>
                                <td>81</td>
                                <td>60</td>
                                <td>00:00:48</td>
                                <td>02:32:59</td>
                            </tr>
                            <tr>
                                <th scope="row">ssvila</th>
                                <td>141</td>
                                <td>81</td>
                                <td>60</td>
                                <td>00:00:48</td>
                                <td>02:32:59</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>