<div class="attis-container">

        <strong>Atenção!! Esta funcionalidade é válida somente para Boleto Bancário.</strong>
        <p>    Pedimos que, por favor, NÃO anexe comprovante PIX, já que este método de depósito não é válido para liberação antecipada e será creditado em sua conta, automaticamente, em até 20 minutos.
    </p>

    <!-- Steps -->
    <div class="steps">
        <div class="step active">1</div>
        <div class="line"></div>
        <div class="step">2</div>
        <div class="line"></div>
        <div class="step">3</div>
    </div>

    <!-- Steps Messages -->
    <div class="message" translate>
        ms_step_created
    </div>

    <div class="reject" *ngIf="aux.error_message!=null">
        {{ aux.error_message }}
    </div>

    <!-- Menu -->
    <div class="menu">
        <form>
            <div class="button1" [class.disabled]="aux.loading" >
                <input class="fileInput" type="file" accept=".jpg, .png, .pdf" (change)="create_ticket($event)" [disabled]="aux.loading"/>
                <div *ngIf="!aux.loading">
                    <span translate>cta_upload</span><br>
                    <small translate>cta_upload_formats</small>
                </div>
                <div *ngIf="aux.loading">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    <span translate>cta_uploading</span>
                </div>
            </div>
        </form>
        <a class="button2" routerLink='/history' translate>cta_history</a>
        <a class="button2" [href]="aux.url_read_more" translate>cta_know_more</a>
    </div>

</div>